.sidebar {
  width: 30%;
  border-right: 1px solid #f0f2f5;
}

.searchBoxOuter {
  padding: 8px 16px;
  border-bottom: 1px solid #f0f2f5;
}

.searchBox {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f0f2f5;
  border-radius: 6px;
  padding: 4px 8px;
}

.searchBox input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: #f0f2f5;
}
